In [3]:
print(1+2)

3

In [7]:
age = 21 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
    '''
else:
    # 成年の場合
    print("お酒で乾杯！")
    '''

In [1]:
print(45+18)
print(30-12)
print(15*6)
print(30/3)
print(45%8)

63
18
90
10.0
5

In [2]:
print(45+1.8)
print(3-1.2)
print(15*0.6)
print(3/0.3)
print(45%0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [3]:
print("今日の天気は"+"晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [4]:
print("降水確率"+str(50)+"%")

降水確率50%

In [5]:
print("晴れ"*5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [7]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [8]:
number1=5
number2=2.5
print(number1+number2)

last_name="侍"
first_name="太郎"
print(last_name+first_name)

7.5
侍太郎

In [9]:
last_name="侍"
first_name="太郎"
sister_name="花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [10]:
upper_side=10
lower_side=20
height=5
area=(upper_side+lower_side)*height/2

print(f"台形の面積 = {area}cm2")

台形の面積 = 75.0cm2

In [2]:
user_names=["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[1])

user_names[1]="侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [3]:
country_names=("日本", "アメリカ", "イギリス", "フランス")
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [4]:
country_names={"アメリカ", "イギリス", "日本", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'フランス', 'イギリス', 'アメリカ', '日本'}
{'イギリス', 'フランス', 'ドイツ', '日本', 'アメリカ'}
{'フランス', 'ドイツ', '日本', 'アメリカ'}

In [5]:
personal_data={"name":"侍太郎", "age":36, "gender":"男性"}
print(personal_data["name"])
print(personal_data)
personal_data["age"] = 37
personal_data["address"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [6]:
array=["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array[2])

dictionary={"mon":"晴れ", "tue":"雨", "wed":"晴れ", "thu":"晴れ", "fri":"曇り", "sat":"曇りのち雨", "sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [7]:
print(45+18)
print(45>18)

63
True

In [8]:
print("5"==5)

False

In [9]:
num1=5
num2="5"

if num1 == int(num2):
  print("num1とnum2は等しいです")

num1とnum2は等しいです

In [15]:
import random

num=random.randint(0,4)

print(num)

if num == 4:
  print("大当たりです")
elif num ==3:
  print("当たりです")
else:
  print("はずれです")

3
当たりです

In [33]:
import random

num=random.randint(0,4)

print(num)

if 1 < num and num <3:
  print("変数numは１より大きく、３より小さいです")
else:
  print("and条件が成り立ちませんでした")

if num == 1 or num == 3:
  print("変数numは１または３です")
else:
  print("or条件が成り立ちませんでした")

2
変数numは１より大きく、３より小さいです
or条件が成り立ちませんでした

In [42]:
import random

var=random.randint(0,100)

if var%3 == 0 and var%5 == 0:
  print("FizzBuzz")

elif var%3 == 0:
  print("Fizz")

elif var%5 == 0:
  print("Buzz")

else:
  print(var)

75
FizzBuzz

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
import random

for i in range(1,11):
  num=random.randint(1,20)
  print(f"{i}回目の結果は{num}です")

  if num == 20:
    print("20が出たので繰り返し処理を終了します")
    break

1回目の結果は7です
2回目の結果は16です
3回目の結果は11です
4回目の結果は15です
5回目の結果は2です
6回目の結果は1です
7回目の結果は5です
8回目の結果は9です
9回目の結果は1です
10回目の結果は10です

In [5]:
for i in range(1,11):
  if i % 2 == 1:
    continue

  print(i)

2
4
6
8
10

In [8]:
import random
num = random.randint(0,4)
print(f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0,4)
  print(f"現在の値は{num}です。")

最初の値は1です。
現在の値は2です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
現在の値は3です。
現在の値は3です。
現在の値は4です。
現在の値は3です。
現在の値は0です。

In [11]:
import random
num = random.randint(0,4)
i = 1

print(f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0,4)
  if i == 5:
    print("5回目なので繰り返し処理を強制終了します")
    break

  print(f"現在の値は{num}です。")
  i=i+1

最初の値は2です。
現在の値は4です。
現在の値は4です。
現在の値は0です。

In [12]:
import random
sum = 0

while sum < 20:
  num = random.randint(1,10)

  print(f"最初の値は{num}です。")

  if num % 2 ==0:
    print("偶数なので加算しません。")
    continue

  sum = sum + num
  print(f"現在の合計は{sum}です。")

最初の値は2です。
偶数なので加算しません。
最初の値は5です。
現在の合計は5です。
最初の値は2です。
偶数なので加算しません。
最初の値は2です。
偶数なので加算しません。
最初の値は1です。
現在の合計は6です。
最初の値は3です。
現在の合計は9です。
最初の値は7です。
現在の合計は16です。
最初の値は7です。
現在の合計は23です。

In [13]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for user_name in user_names:
  print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [14]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

for key, value in personal_data.items():
  print(f"{key}は{value}です。")

for value in personal_data.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [15]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for index, value in enumerate(user_names):
  print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [18]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

target = "侍二郎"

for user_name in user_names:
  print(user_name)

  if(user_name == target):
    print(f"{target}さんが見つかったので繰り返し処理を強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので繰り返し処理を強制終了します。

In [19]:
score ={
    "国語":80,
    "数学":55,
    "理科":70,
    "社会":85,
    "英語":60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
  if(value < 70):
    continue
  print(f"{key}:{value}点")

合格した科目は以下のとおりです。
国語:80点
理科:70点
社会:85点

In [20]:
array = ["水","金","地","火","木","土","天","海","冥"]

for array_1 in array:
  print(array_1)

i = 0

while i < 9:
  print(array[i])
  i = i+1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [21]:
def say_good_morning():
  print("おはようございます！")
  print("昨日はよく眠れましたか？")
  print("今日も一日頑張りましょう！")

def say_good_evening():
  print("こんばんは！")
  print("今日も一日お疲れさまでした。")

say_good_morning()

say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れさまでした。

In [2]:
def calculate_total(price):
  total = price + 500
  print(f"{total}円")

calculate_total(1500)

2000円

In [6]:
def calculate_total(price: int, shipping_fee: int) -> int:
  total = price + shipping_fee
  print(f"{total}円")

calculate_total(1200, 500)

1700円

In [4]:
purchased = True

def is_purchased():
  if(purchased):
    return True
  else:
    return False

if(is_purchased()==True):
  print("商品は購入済みです。")

商品は購入済みです。

In [14]:
def calculate_tax(price, tax):
  price_tax = price * (1+tax)
  return price_tax

price = 1000
tax = 0.1
print(f"商品の税込価格は{calculate_tax(price, tax)}円です。")

商品の税込価格は1100.0円です。

In [16]:
def show_user_name():
  user_name = "侍太郎"
  print(user_name)

show_user_name()

侍太郎

In [17]:
def show_user_name():
  user_name = "侍太郎"
  print(user_name)

show_user_name()

print(user_name)

侍太郎

NameError: name 'user_name' is not defined

In [19]:
user_name = "侍花子"

def show_user_name():
  user_name = "侍太郎"
  print(user_name)

show_user_name()

print(user_name)

侍花子
侍花子

In [2]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    #tax = 1.1
    return price1 + price2

print (total() * tax)

330.0