In [3]:
print(1+2)

3

In [7]:
age = 21 # 年齢

if age < 20:
    # 未成年の場合
    print("ジュースで乾杯！")
    '''
else:
    # 成年の場合
    print("お酒で乾杯！")
    '''

In [1]:
print(45+18)
print(30-12)
print(15*6)
print(30/3)
print(45%8)

63
18
90
10.0
5

In [2]:
print(45+1.8)
print(3-1.2)
print(15*0.6)
print(3/0.3)
print(45%0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [3]:
print("今日の天気は"+"晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [4]:
print("降水確率"+str(50)+"%")

降水確率50%

In [5]:
print("晴れ"*5)
print("晴れ"+"晴れ"+"晴れ"+"晴れ"+"晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [7]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [8]:
number1=5
number2=2.5
print(number1+number2)

last_name="侍"
first_name="太郎"
print(last_name+first_name)

7.5
侍太郎

In [9]:
last_name="侍"
first_name="太郎"
sister_name="花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [10]:
upper_side=10
lower_side=20
height=5
area=(upper_side+lower_side)*height/2

print(f"台形の面積 = {area}cm2")

台形の面積 = 75.0cm2

In [2]:
user_names=["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[1])

user_names[1]="侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [3]:
country_names=("日本", "アメリカ", "イギリス", "フランス")
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [4]:
country_names={"アメリカ", "イギリス", "日本", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'フランス', 'イギリス', 'アメリカ', '日本'}
{'イギリス', 'フランス', 'ドイツ', '日本', 'アメリカ'}
{'フランス', 'ドイツ', '日本', 'アメリカ'}

In [5]:
personal_data={"name":"侍太郎", "age":36, "gender":"男性"}
print(personal_data["name"])
print(personal_data)
personal_data["age"] = 37
personal_data["address"] = "東京都"
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [6]:
array=["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array[2])

dictionary={"mon":"晴れ", "tue":"雨", "wed":"晴れ", "thu":"晴れ", "fri":"曇り", "sat":"曇りのち雨", "sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ